TemperatureConverter.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns0="http://example.ws" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://example.ws">
    <wsdl:types>
        <xs:schema xmlns:xsd="http://example.ws" targetNamespace="http://example.ws" attributeFormDefault="qualified" elementFormDefault="qualified">
            <xs:element name="c2fConvertion">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="cValue" minOccurs="0" type="xs:double"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="c2fConvertionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" minOccurs="0" type="xs:double"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="f2cConvertion">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="fValue" minOccurs="0" type="xs:double"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="f2cConvertionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" minOccurs="0" type="xs:double"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="f2cConvertionRequest">
        <wsdl:part name="parameters" element="ns0:f2cConvertion"/>
    </wsdl:message>
    <wsdl:message name="f2cConvertionResponse">
        <wsdl:part name="parameters" element="ns0:f2cConvertionResponse"/>
    </wsdl:message>
    <wsdl:message name="c2fConvertionRequest">
        <wsdl:part name="parameters" element="ns0:c2fConvertion"/>
    </wsdl:message>
    <wsdl:message name="c2fConvertionResponse">
        <wsdl:part name="parameters" element="ns0:c2fConvertionResponse"/>
    </wsdl:message>
    <wsdl:portType name="TemperatureConverterPortType">
        <wsdl:operation name="f2cConvertion">
            <wsdl:input message="ns0:f2cConvertionRequest" wsaw:Action="urn:f2cConvertion"/>
            <wsdl:output message="ns0:f2cConvertionResponse" wsaw:Action="urn:f2cConvertionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="c2fConvertion">
            <wsdl:input message="ns0:c2fConvertionRequest" wsaw:Action="urn:c2fConvertion"/>
            <wsdl:output message="ns0:c2fConvertionResponse" wsaw:Action="urn:c2fConvertionResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TemperatureConverterSOAP11Binding" type="ns0:TemperatureConverterPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="f2cConvertion">
            <soap:operation soapAction="urn:f2cConvertion" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="c2fConvertion">
            <soap:operation soapAction="urn:c2fConvertion" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="TemperatureConverterSOAP12Binding" type="ns0:TemperatureConverterPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="f2cConvertion">
            <soap12:operation soapAction="urn:f2cConvertion" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="c2fConvertion">
            <soap12:operation soapAction="urn:c2fConvertion" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="TemperatureConverterHttpBinding" type="ns0:TemperatureConverterPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="f2cConvertion">
            <http:operation location="TemperatureConverter/f2cConvertion"/>
            <wsdl:input>
                <mime:content type="text/xml" part="f2cConvertion"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="f2cConvertion"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="c2fConvertion">
            <http:operation location="TemperatureConverter/c2fConvertion"/>
            <wsdl:input>
                <mime:content type="text/xml" part="c2fConvertion"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="c2fConvertion"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TemperatureConverter">
        <wsdl:port name="TemperatureConverterSOAP11port_http" binding="ns0:TemperatureConverterSOAP11Binding">
            <soap:address location="http://localhost:8080/axis2/services/TemperatureConverter"/>
        </wsdl:port>
        <wsdl:port name="TemperatureConverterSOAP12port_http" binding="ns0:TemperatureConverterSOAP12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/TemperatureConverter"/>
        </wsdl:port>
        <wsdl:port name="TemperatureConverterHttpport" binding="ns0:TemperatureConverterHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/TemperatureConverter"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
